/* Base Layout Styles  */


* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
}

.main-header {
    background-color: #191919;
}

main {
    max-width: 90%;
    margin: auto;
}

ul {
    list-style-position: inside;
}

hr {
    width: 50%;
}

footer {
    background-color: #606e4a;
    padding: 10px 10px;
}


/* Flexbox Layout Styles */


.main-header {
    border-bottom: 2.5px solid #606e4a;
}

.main-nav {
    display: flex;
}

.logo {
    width: 100px;
    margin-right: 3rem;
    margin-top: 9px;
}

.main-nav li {
    align-self: center;
    margin: 10px;
}

.contact {
    padding-right: 50px;
}

.banner-image {
    width: 100%;
    margin-bottom: 1rem;
}

body {
    text-align: center;
}

#allServices {
    text-align: center;
    font-size: 2rem;
    margin-top: auto;
}


/* Font Styles */


body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.container {
    position: relative;
    text-align: center;
}

.hamIcon h1{
    color: white;
    margin: auto;
    padding: 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(4, 117, 4);
}

.main-header li {
    color: white;
    list-style: none;
    font-size: 1em;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
}

main li {
    font-size: 1.1rem;
}

footer p {
    color: rgb(231, 228, 228);
    margin: auto;
    padding: 5px 5px;
    font-size: .75em;
}


/* "Typing" Slogan on Banner Image */


.slogan {
    color: white;
    font-size: 6px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.typing > *{
    overflow: hidden;
    white-space: nowrap;
    animation: typingAnim 10s steps(100);
}

@keyframes typingAnim{
    from { width: 0 }
    to { width: 100% }
}


/* Contact Form */


#contact-form {
    border: 3px solid rgb(4, 117, 4);
    margin-top: 2rem;
    padding: 0 10px;
}

#contact-form ul {
    list-style-type: none;
}

#name,
#mail,
#phone {
    font-size: 1.3rem;
    width: 50%;
    margin: 8px;
}

#contact-form label {
    font-size: 1.3rem;
}

button {
    font-size: 1.5rem;
    display: block;
    margin: 20px auto;
    padding: 10px 40px;
}


/* Testimonial Carousel */


.mySlides {
    max-width: 100%;
    margin: 32px auto;
}


/* Media Queries */


@media (max-width: 680px) {
    .main-nav,
    .logo {
        display: none;
    }
    .main-nav.toggleCls {
        display: block;
    }
}

@media (min-width: 681px) {
    .main-header li {
        font-size: 1.25em;
    }
    .main-header {
        border-bottom: 4px solid #606e4a;
    }
    .nav-flex {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        height: 75px;
        width: auto; 
        margin-right: auto;   
    }
    .slogan {
        font-size: 12px;
    }
    .hamIcon {
        display: none;
    }
}

@media (min-width: 980px) {
    .main-header li {
        font-size: 1.5em;
    }
    .main-header {
        border-bottom: 5px solid #606e4a;
    }
    .logo {
        height: 100px;
        width: auto;
    }
    .slogan {
        font-size: 17px;
        top: 60%;
    }
    #allServices {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    p {
        font-size: 1.5rem;
    }
    main li {
        font-size: 1.3rem;
    }

    /* Switching from one column mobile layout to two column layout (one of the "feature requirements) */

    .primary-col {
        float: left;
        width: 45%;
    }
    .secondary-col {
        float: right;
        width: 45%;
    }
    .group:after {
        content: "";
        display: table;
        clear: both;
    }
    hr {
        display: none;
    }
    #contact-form {
        width: 80%;
        margin: 2rem auto auto;
    }
}

