/*          Base Layout Styles          */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
}

.main-header {
    
    background-color: #191919;
}



/*          Flexbox Layout Styles           */

.main-header {
    border-bottom: 2.5px solid #606e4a;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.logo {
    width: 100px;
    margin-right: auto;
}

.main-nav li {
    align-self: center;
    margin: 10px;
}

.contact {
    padding-right: 50px;
}

.banner-image {
    width: 100%;
}

body {
    text-align: center;
}

.services {
    text-align: center;
    font-size: 1.2em;
}




/*          Font Styles         */

a {
    text-decoration: none;
}


a:visited {
    color: white;
}

a:hover {
    color: rgb(4, 117, 4);
}

.main-header li {
    color: white;
    list-style: none;
    font-size: 1em;
}

/*          Media Queries           */


@media (min-width: 681px) {
    .main-header li {
        font-size: 1.25em;
    }
    .main-header {
        border-bottom: 4px solid #606e4a;
    }
    .logo {
        width: 200px;
    }

}


@media (min-width: 950px) {
    .main-header li {
        font-size: 1.5em;
    }
    .main-header {
        border-bottom: 5px solid #606e4a;
    }
    .logo {
        width: 250px;
    }
}

